.storybook-button {
	display: inline-block;
	cursor: pointer;
	border: 0;
	border-radius: 3em;
	font-weight: 700;
	line-height: 1;
	font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	max-width: fit-content;
}
.storybook-button--primary {
	background-color: #555ab9;
	color: white;
}
.storybook-button--secondary {
	box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
	background-color: #5289e8;
	color: #f3f4f6;
}
.storybook-button--toggle {
	background-color: #b00606;
	color: #333;
	border: 1px solid #ccc;
}
.storybook-button--toggled {
	background-color: #0ca11a;
	color: #060606;
}
.storybook-button--disabled {
	cursor: not-allowed;
	opacity: 0.5;
}
.toggle-indicator {
	color: #060606;
	font-weight: bold;
}

.storybook-button--small {
	padding: 10px 16px;
	font-size: 12px;
}
.storybook-button--medium {
	padding: 11px 20px;
	font-size: 14px;
}
.storybook-button--large {
	padding: 12px 24px;
	font-size: 16px;
}
