#root {
	margin: 0 auto;
	padding: 2rem;
}

.card {
	background-color: var(--color-bg-light);
	border-radius: var(--radius);
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	padding: var(--space-lg);
	margin-bottom: var(--space-lg);
	min-width: 40vw;
}
