.success {
	color: var(--color-success);
	margin-top: var(--space-md);
	text-align: right;
	font-family: var(--font-family);
}

.error {
	color: var(--color-error);
	margin-top: var(--space-md);
	text-align: right;
	font-family: var(--font-family);
}
